<!doctype html>
<style>
    .container {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #content {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .text-monospace {
        font-family: monospace;
    }
    .minicard {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
</style>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
        <title>buildrone</title>
    </head>
    <body>
        <div class="modal" id="loginModal">
            <a href="#close" class="modal-overlay" aria-label="Close"></a>
            <div class="modal-container">
                <div class="modal-header">
                    <div class="modal-title h5">Login to Buildrone</div>
                </div>
                <div class="modal-body">
                    <form action="#" method="POST" id="loginForm">
                        <div class="form-group">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-input" type="text" id="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-input" type="password" id="password" placeholder="Password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="loginButton" form="loginForm">Login</button>
                </div>
            </div>
        </div>
        <div class="modal modal-sm" id="secretWarningModal">
            <a href="#close" class="modal-overlay" aria-label="Close"></a>
            <div class="modal-container">
                <div class="modal-header">
                    <div class="modal-title h5">Are you sure?</div>
                </div>
                <div class="modal-body">
                    <p class="content">Regenerating the secret will invalidate all previously generated build keys.</o>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-link" aria-label="Cancel" onclick="rmAttr(document.getElementById('secretWarningModal'), 'active')">Cancel</button>
                    <button class="btn btn-primary" id="newSecretSubmit">Continue</button>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="columns">
                <div class="column col-8 col-mx-auto">
                    <header class="navbar">
                        <section class="navbar-section">
                            <b class="navbar-brand mr-2">buildrone dashboard</b>
                        </section>
                    </header>
                    <div class="container" id="content">
                    </div>
                </div>
            </div>
        </div>
    <script src="../../admin.js"></script>
    </body>
</html>
