<!doctype html>
<style>
    .container {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #content {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .accordionList {
        max-height: inherit;
        overflow-y: scroll;
    }
</style>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../../bundle.css">
        <title>{{ .namespace }}/{{ .name }}</title>
    </head>
    <body>
        <div class="page-container m-2 md:my-8 md:mx-16 lg:mx-32 xl:my-20 xl:mx-64 flex flex-col gap-4">
            <header class="flex flex-row justify-between">
                <h3 class="heading flex flex-row gap-2"><span>builds for <a class="font-semibold" href="{{ .repoLink }}">{{ .namespace }}/{{ .name }}</a> from branch </span><span id="branch-area" class="flex flex-row gap-2"></span></h3>
                <a class="heading text-neutral-400 hover:underline" href="https://github.com/hrfee/buildrone">buildrone</a>
            </header>
            <div class="w-full flex flex-col gap-4">
                <div class="w-full flex flex-col gap-4" id="builds"></div>
                <div class="flex flex-row justify-end">
                    <button class="button ~urge @low" id="loadMore">Load More</button>
                </div>
            </div>
        </div>
    </body>
    <script src="../../repo.js"></script>
</html>
