<!doctype html>
<style>
    .container {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #content {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .accordionList {
        max-height: inherit;
        overflow-y: scroll;
    }
</style>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
        <title>{{ .namespace }}/{{ .name }}</title>
        <style>
            .text-monospace {
                font-family: monospace;
            }
            .minicard {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="columns">
                <div class="column col-8 col-mx-auto">
                    <header class="navbar">
                        <section class="navbar-section">
                            <b class="navbar-brand mr-2">builds for <a href="{{ .repoLink }}">{{ .namespace }}/{{ .name }}</a></b>
                        </section>
                        <section class="navbar-section">
                            <a class="text-gray" href="https://github.com/hrfee/buildrone">{{ if eq .name "buildrone" }}you already know {{ else }}buildrone {{ end }}</a>
                        </section>
                    </header>
                    <div class="container" id="content">
                        <button class="btn btn-sm float-right" style="margin-top: 2rem;" id="loadMore">Load More</button>
                    </div>
                </div>
            </div>
        </div>
    <script src="../../repo.js"></script>
    </body>
</html>
